<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" rel="canonical" routerLink="/">{{ this.getAppNameEnvironment() }}</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" (click)="sidebarToggle()" style="cursor: pointer;"><i class="pi pi-bars"></i></button>
    <!-- Navbar Search-->
    <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        
    </div>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="pi pi-user"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Configuración</a></li>
                <li><a class="dropdown-item" href="#!">Ficha de institución</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Resumen</div>
                    <a class="nav-link" routerLink="/panel">
                        <div class="sb-nav-link-icon"><i class="pi pi-prime"></i></div>
                        Panel de inicio
                    </a>
                    <div class="sb-sidenav-menu-heading">Usuarios & permisos</div>
                    <a class="nav-link" href="charts.html">
                        <div class="sb-nav-link-icon"><i class="pi pi-prime"></i></div>
                        Permisos Administrativos
                    </a>
                    <a class="nav-link" href="charts.html">
                        <div class="sb-nav-link-icon"><i class="pi pi-prime"></i></div>
                        Administrativos
                    </a>
                    <a class="nav-link" href="charts.html">
                        <div class="sb-nav-link-icon"><i class="pi pi-prime"></i></div>
                        Profesores
                    </a>
                    <a class="nav-link" routerLink="/panel/students">
                        <div class="sb-nav-link-icon"><i class="pi pi-prime"></i></div>
                        Alumnos
                    </a>
                    <div class="sb-sidenav-menu-heading">Mantenimientos</div>
                    <a class="nav-link" href="tables.html">
                        <div class="sb-nav-link-icon"><i class="pi pi-prime"></i></div>
                        Grados y secciones
                    </a>
                    <div class="sb-sidenav-menu-heading">Reportes</div>
                    <a class="nav-link" href="tables.html">
                        <div class="sb-nav-link-icon"><i class="pi pi-prime"></i></div>
                        Reporte de matriculas
                    </a>
                    <a class="nav-link" href="tables.html">
                        <div class="sb-nav-link-icon"><i class="pi pi-prime"></i></div>
                        Alumnos
                    </a>
                    <a class="nav-link" href="tables.html">
                        <div class="sb-nav-link-icon"><i class="pi pi-prime"></i></div>
                        Personal
                    </a>
                    <a class="nav-link" href="tables.html">
                        <div class="sb-nav-link-icon"><i class="pi pi-prime"></i></div>
                        Tesoreria
                    </a>
                    <a class="nav-link" href="tables.html">
                        <div class="sb-nav-link-icon"><i class="pi pi-prime"></i></div>
                        Facturación
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <p-button c label="Soporte" icon="pi pi-whatsapp" styleClass="p-button-success" [style]="{'width': '100%'}" (onClick)="this.goToSupport()"></p-button>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <router-outlet></router-outlet>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Desarrollado por <b>{{ this.getCompanyNameEnvironment() }}</b></div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>