<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <p-card header="Advanced Card" subheader="Card Subheader" styleClass="p-card-shadow card bg-primary text-white mb-4">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="assets/images/templates/headercard.png">
                    </ng-template>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
                    <ng-template pTemplate="footer">
                        <p-button label="Save" icon="pi pi-check"></p-button>
                        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
                    </ng-template>
                </p-card>
            </div>
            <div class="col-xl-3 col-md-6">
                <p-card header="Advanced Card" subheader="Card Subheader" styleClass="p-card-shadow card bg-warning text-white mb-4">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="assets/images/templates/headercard.png">
                    </ng-template>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
                    <ng-template pTemplate="footer">
                        <p-button label="Save" icon="pi pi-check"></p-button>
                        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
                    </ng-template>
                </p-card>
            </div>
            <div class="col-xl-3 col-md-6">
                <p-card header="Advanced Card" subheader="Card Subheader" styleClass="p-card-shadow card bg-success text-white mb-4">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="assets/images/templates/headercard.png">
                    </ng-template>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
                    <ng-template pTemplate="footer">
                        <p-button label="Save" icon="pi pi-check"></p-button>
                        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
                    </ng-template>
                </p-card>
            </div>
            <div class="col-xl-3 col-md-6">
                <p-card header="Advanced Card" subheader="Card Subheader" styleClass="p-card-shadow card bg-danger text-white mb-4">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="assets/images/templates/headercard.png">
                    </ng-template>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
                    <ng-template pTemplate="footer">
                        <p-button label="Save" icon="pi pi-check"></p-button>
                        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>
</main>