<!-- Page Content-->
<section class="pt-5">
    <div class="d-grid gap-2 d-md-block mx-auto text-center">
        <h1 class="fw-bolder">Peliculas</h1>
        <button class="btn btn-success" (click)="this.showDialog()">Agregar nueva pelicula</button>
    </div>
</section>
<!-- Blog preview section-->
<section class="py-5">
    <div class="container px-5">
        <div class="row gx-5">
            <div class="col-lg-3 mb-5" *ngFor="let entry of this.entries">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="{{ entry.imagen }}" alt="{{ entry.nombre }}" title="{{ entry.nombre }}" />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2" [title]="entry.director">Director: {{ entry.director }}</div> 
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2" [title]="entry.genero">Genero: {{ entry.genero }}</div> 
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2" [title]="entry.estreno">Estreno: {{ entry.estreno }}</div> 
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2" [title]="entry.duracion+' minutos'">Duración: {{ entry.duracion }} min.</div> 
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2" [title]="entry.calificacion+' estrellas'">
                            <i class="pi pi-star-fill" *ngFor="let n of [].constructor(entry.calificacion)"></i> 
                            <i class="pi pi-star" *ngFor="let n of [].constructor(10-entry.calificacion)"></i> 
                        </div> 
                        <div class="h5 card-title mb-3">{{ entry.nombre }}</div>
                        <button class="btn btn-danger" (click)="this.removeEntry(entry.id)">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mb-5 mb-xl-0" *ngIf="showCharging">
            <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
        </div>
        <div class="text-end mb-5 mb-xl-0 text-center" *ngIf="!showCharging">
            <button [hidden]="!showMore" class="btn btn-primary" (click)="this.getMoreEntries()">Ver más</button>
        </div>
    </div>
</section>
<p-dialog [(visible)]="display" [baseZIndex]="10000" [modal]="true" [header]="'Nueva pelicula'" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <form [formGroup]="movieForm" (ngSubmit)="save(); movieForm.reset()">
        <div class="form-group">
            <label class="label">Nombre: </label>
            <input type="text" name="nombre" class="form-control" formControlName="nombre" />

            <div
                *ngIf="!movieForm.errors && (movieForm.controls['nombre'].touched || movieForm.controls['nombre'].dirty)">

                <div [hidden]="!movieForm.controls['nombre'].hasError('required')"
                    class="alert alert-danger mt-2">
                    Por favor el campo es obligatorio
                </div>

                <div [hidden]="!movieForm.controls['nombre'].hasError('minlength')"
                    class="alert alert-danger mt-2">
                    El campo debe tener más de 3 caracteres.
                </div>
            </div>

        </div>


        <div class="form-group">
            <label class="label">Genero: </label>
            <input type="text" name="genero" class="form-control" formControlName="genero" />

            <div
                *ngIf="!movieForm.errors && (movieForm.controls['genero'].touched || movieForm.controls['genero'].dirty)">

                <div [hidden]="!movieForm.controls['genero'].hasError('required')"
                    class="alert alert-danger mt-2">
                    Por favor el campo es obligatorio
                </div>

                <div [hidden]="!movieForm.controls['genero'].hasError('minlength')"
                    class="alert alert-danger mt-2">
                    El campo debe tener más de 3 caracteres.
                </div>
            </div>

        </div>


        <div class="form-group">
            <label class="label">Director: </label>
            <input type="text" name="director" class="form-control" formControlName="director" />

            <div
                *ngIf="!movieForm.errors && (movieForm.controls['director'].touched || movieForm.controls['director'].dirty)">

                <div [hidden]="!movieForm.controls['director'].hasError('required')"
                    class="alert alert-danger mt-2">
                    Por favor el campo es obligatorio
                </div>

                <div [hidden]="!movieForm.controls['director'].hasError('minlength')"
                    class="alert alert-danger mt-2">
                    El campo debe tener más de 3 caracteres.
                </div>
            </div>

        </div>


        <div class="form-group">
            <label class="label">Imagen: </label>
            <input type="text" name="imagen" class="form-control" formControlName="imagen" />

            <div
                *ngIf="!movieForm.errors && (movieForm.controls['imagen'].touched || movieForm.controls['imagen'].dirty)">

                <div [hidden]="!movieForm.controls['imagen'].hasError('required')"
                    class="alert alert-danger mt-2">
                    Por favor el campo es obligatorio
                </div>

                <div [hidden]="!movieForm.controls['imagen'].hasError('minlength')"
                    class="alert alert-danger mt-2">
                    El campo debe tener más de 3 caracteres.
                </div>
            </div>

        </div>


        <div class="form-group">
            <label class="label">Año de Estreno: (1900 - 2023)</label>
            <input type="number" name="estreno" class="form-control" formControlName="estreno" />

            <div
                *ngIf="!movieForm.errors && (movieForm.controls['estreno'].touched || movieForm.controls['estreno'].dirty)">

                <div [hidden]="!movieForm.controls['estreno'].hasError('required')"
                    class="alert alert-danger mt-2">
                    Por favor el campo es obligatorio
                </div>

                <div [hidden]="!movieForm.controls['estreno'].hasError('min')" class="alert alert-danger mt-2">
                    La calificación debe ser mayor o igual a 1900
                </div>

                <div [hidden]="!movieForm.controls['estreno'].hasError('max')" class="alert alert-danger mt-2">
                    La calificación debe ser menor o igual a 2023
                </div>
            </div>

        </div>

        <div class="form-group">
            <label class="label">Duración: (15 - 380) (minutos)</label>
            <input type="number" name="duracion" class="form-control" formControlName="duracion" />

            <div
                *ngIf="!movieForm.errors && (movieForm.controls['duracion'].touched || movieForm.controls['duracion'].dirty)">

                <div [hidden]="!movieForm.controls['duracion'].hasError('required')"
                    class="alert alert-danger mt-2">
                    Por favor el campo es obligatorio
                </div>

                <div [hidden]="!movieForm.controls['duracion'].hasError('min')" class="alert alert-danger mt-2">
                    La calificación debe ser mayor o igual a 15 
                </div>

                <div [hidden]="!movieForm.controls['duracion'].hasError('max')" class="alert alert-danger mt-2">
                    La calificación debe ser menor o igual a 380 
                </div>
            </div>

        </div>


        <div class="form-group">
            <label class="label">Calificación: </label>
            <input type="number" class="form-control" name="calificacion" formControlName="calificacion" />

            <div
                *ngIf="!movieForm.errors && (movieForm.controls['calificacion'].touched || movieForm.controls['calificacion'].dirty)">

                <div [hidden]="!movieForm.controls['calificacion'].hasError('required')" class="alert alert-danger mt-2">
                    El campo es obligatorio
                </div>

                <div [hidden]="!movieForm.controls['calificacion'].hasError('min')" class="alert alert-danger mt-2">
                    La calificación debe ser mayor o igual a 0 
                </div>

                <div [hidden]="!movieForm.controls['calificacion'].hasError('max')" class="alert alert-danger mt-2">
                    La calificación debe ser menor o igual a 10 
                </div>

            </div>

        </div>

        <div class="form-group mt-2">
            <button class="btn btn-dark" [disabled]="!movieForm.valid">Guardar pelicula</button>
        </div>
    </form>
</p-dialog>
<p-confirmDialog [header]="'Eliminar pelicula'" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    ¿Seguro de eliminar la pelicula?
</p-confirmDialog>