<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" rel="canonical" routerLink="/">{{ this.getAppNameEnvironment() }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" rel="canonical" routerLink="/">{{ 'public.nav.home' | translate }}</a></li>
                    <li class="nav-item"><a class="nav-link" rel="canonical" routerLink="/movies">{{ 'public.nav.movies' | translate }}</a></li>
                    <li class="nav-item"><a class="nav-link" rel="canonical" routerLink="/shop">{{ 'public.nav.shop' | translate }}</a></li>
                    <li class="nav-item"><a class="nav-link" rel="canonical" routerLink="/search">{{ 'public.nav.search' | translate }}</a></li>
                    <li class="nav-item"><a class="nav-link" *ngIf="this.isLogged()" style="cursor: pointer;" (click)="logout()">{{ 'public.nav.logout' | translate }}</a></li>
                    <li class="nav-item"><a class="nav-link" *ngIf="!this.isLogged()" rel="canonical" routerLink="/login">{{ 'public.nav.login' | translate }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
</main>
<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row">
            <div class="col-sm-6">
                <h6 class="h5 m-0 text-white" *ngIf="showCountries">{{ 'public.footer.title_countries' | translate }}</h6>
                <ul class="m-2" *ngIf="showCountries">
                    <li *ngFor="let country of this.countries"><a class="link-light small" style="cursor: pointer;" (click)="this.changeCountry(country)">{{ country.countryLabel }}</a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h6 class="h5 m-0 text-white">{{ 'public.footer.title_languages' | translate }}</h6>
                <ul class="m-2">
                    <li *ngFor="let language of this.languages"><a class="link-light small" style="cursor: pointer;" (click)="this.changeLanguage(language)">{{ language.name }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>